<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>发表</title>
<link rel="stylesheet" type="text/css" href="../public/stylesheets/Login4.css"/>
</head>
<body>
    <div id="parent">
    <div id="f1"><a href="home.html">HOME</a><p>POST</p><a href="Blog.html">LOGOUT</a></div>
    <div id="f2">
       <p> 标题：</p>
        <input type="text" name="text"style="text-align:left;">
        <p>正文:</p>
         <textarea rows="22" cols="120"></textarea>
        <p> <button class="but3" type="submit">发表</button> </p> 
    </div>
    <div id="f3">发表</div>
</body>
</html>
