<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Blog</title>
<link rel="stylesheet" type="text/css" href="../public/stylesheets/Login.css"/>
</head>
<body>
    <div id="parent">
    <div id="f1"><a href="home.html">HOME</a><p>LOGIN</p><p>REGISTER</p></div>
    <div id="f2">
        <form method="post">  
            <input type="text" required="required" placeholder="用户名" name="u"></input>  
            <input type="password" required="required" placeholder="密码" name="p"></input>  </br>
            <button class="but1" type="submit">登录</button>  
            <button class="but2" onclick="window.open('zhuce.html')" type="submit">注册</button> 
        </form> 
    </div>
    <div id="f3">登陆</div>
</body>
</html>
