<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Blog</title>
        <link rel="stylesheet" href="/public/stylesheets/style.css">
    </head>
    <body>
        <header>
            <h1><%= title %></h1>
        </header>
        <nav>
            <span><a title="zhuye" href="/">home</a></span>
            <span><a title="login" href="/login">login</a></span>
            <span><a title="reg" href="/reg">reg</a></span>
        </nav>

        <article>
